.certification {
  padding: 2rem 1rem;
  background-color: #f9f9f9;
}

.certification-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.certification-title {
  font-size: 60px;
  margin-bottom: 1.5rem;
  color: #333;
  margin-top: -45px;
}

.certification-list {
  list-style-type: none;
  padding: 0;
  color: #1a8c55;
}

.certification-item {
  margin-bottom: 1rem;
  font-size: 25px;
  color: #1a8c55;
}

.certification-link {
  font-size: 15px;
  color: #0073e6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.certification-link:hover {
  color: #005bb5;
  text-decoration: underline;
}

.certification-item strong {
  font-weight: bold;
  color: #0073e6;
}

@media (max-width: 600px) {
  .certification-title {
    font-size: 1.5rem;
  }

  .certification-link {
    font-size: 1rem;
  }
}
#strong{
  color: #1a8c55;
}