

.contact {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .contact-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -30px;
    
  }
  
  .contact-title {
    font-size: 80px;
    margin-bottom: 1.5rem;
    margin-top: 0;
    
  }
  .contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem; 
  }
  
  .contact-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333; 
    margin: 0 1rem; 
  }
  
  .contact-icon img {
    color: #000; 
  }
  
  
  
  .contact-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333; 
    transition: color 0.3s; 
  }
  
  .contact-icon-img {
    color: #000; 
  }
  
  .contact-icon:hover .contact-icon-img {
    color: #0073b1; 
  }
  
  
  .contact-icon:nth-child(1) .contact-icon-img {
    color: #000; 
  }
  
  .contact-icon:nth-child(1):hover .contact-icon-img {
    color: #555; 
  }
  
  .contact-icon:nth-child(2) .contact-icon-img {
    color: #25d366; 
  }
  
  .contact-icon:nth-child(2):hover .contact-icon-img {
    color: #1ebea5; 
  }
  
  .contact-icon:nth-child(3) .contact-icon-img {
    color: #0077b5; 
  }
  
  .contact-icon:nth-child(3):hover .contact-icon-img {
    color: #005582; 
  }
  
  .contact-icon:nth-child(4) .contact-icon-img {
    color: #333; 
  }
  
  .contact-icon:nth-child(4):hover .contact-icon-img {
    color: #6e5494; 
  }
  
  
  @media (max-width: 768px) {
    .contact-icons {
      flex-direction: column; 
      gap: 1.5rem; 
    }
  
    .contact-icon {
      font-size: 1.5rem; 
    }
  
    .contact-icon-img {
      font-size: 100px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-title {
      font-size: 1.5rem; 
    }
  
    .contact-icon-img {
      font-size: 80px; 
    }
  }
  